<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- JDBC -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${datasource.jdbc.driverClassName}" />
        <property name="url" value="${datasource.jdbc.url}" />
        <property name="username" value="${datasource.jdbc.username}" />
        <property name="password" value="${datasource.jdbc.password}" />
    </bean>

    <!-- 使用Annotation映射的sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.lenovo.leoss.model.User</value>
                <value>com.lenovo.leoss.model.Key</value>
            </list>
        </property>
    </bean>

    <!-- 事务管理器，此处为Hibernate的事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!-- DAOs -->
    <bean id="userDAO" class="com.lenovo.leoss.dao.impl.DBUserDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="keyDAO" class="com.lenovo.leoss.dao.impl.DBKeyDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
