html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
    font-family: arial,"Microsoft YaHei";
    font-size: 14px;
    margin:0 auto;
}
.leoss-header{
    min-height: 70px;
    background: #CCC;
}

.leoss-box{
    margin:0 auto;
    margin-top:10px;
    margin-bottom: 10px;
    width: 700px;
    border: 1px solid #e6e6e6;
    min-height: 400px;
}

.leoss-footer{
    min-height: 30px;
    background: #CCCCCC;
}