.leoss-box h1{
	color:#8E8F8F;
	font-size:22px;
	font-weight:bold;
}
.leoss-box .i-line{
    margin:0 auto;
    margin-top:15px;
    width: 350px;
}
.leoss-box .i-line .need{
    color: red;
}
.leoss-box .i-line .i-select{
	width:140px;
	height:28px;
	line-height: 28px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 7px rgba(200,200,200,.75);
    box-shadow: 0 0 7px rgba(200,200,200,.75);
    background-color: #fafafa;
    border-radius: 4px;
}
.leoss-box .long-input{
    margin-top: 15px;
    width: 330px;
    height: 18px;
    line-height: 18px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 7px rgba(200,200,200,.75);
    box-shadow: 0 0 7px rgba(200,200,200,.75);
    background-color: #fafafa;
    border-radius: 4px;
}
.leoss-box .short-input{
    width:245px;
    height: 18px;
    line-height: 18px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 7px rgba(200,200,200,.75);
    box-shadow: 0 0 7px rgba(200,200,200,.75);
    background-color: #fafafa;
    border-radius: 4px;
}
.leoss-box .p-line{
	margin-top:30px;
	width:75px;
	display:inline-block;
	text-align:left;
}
.leoss-box .validate{
	width:200px;
	height:100px;
	vertical-align:middle;
	cursor: pointer;
}
.leoss-box .reg_btn{
	color:#FFFFFF;
	background: #2c8fd0;
	cursor: pointer;
	border:0px;
	width:140px;
	height:30px;
	line-height: 30px;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#1e82ca),to(#5ebce6));
}